* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(75deg, rgb(146, 145, 238), rgb(141, 242, 215));
  background-repeat: fixed;
  color: black;
}

.albumlist {
  width: 100vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  text-align: center;
  align-items: start;
}

.imgAlbum {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(98, 150, 137);
}

.album {
  background: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.album h1 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.album h3 {
  letter-spacing: 5px;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  color: rgb(114, 165, 165);
}

.album p {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .albumlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
